:root {
    --font-family-primary: 'Noto Sans', sans-serif;
    --font-weight-primary-regular: 400;
    --font-weight-primary-bold: 700;
    --border-radius-primary: 26px;
    --border-radius-secondary: 5px;
    --color-details: #2821fc;
    --gradient-violet-start: #b53cff;
    --gradient-violet-end: #f952ff;
    --gradient-green-start: #23bd38;
    --gradient-green-end: #41eba9;
    --gradient-red-start: #f857a6;
    --gradient-red-end: #ff5858;
    --gradient-orange-start: #e77842;
    --gradient-orange-end: #f7c068;
    --gradient-yellow-start: #ffb040;
    --gradient-yellow-end: #ffd62e;
    --gradient-blue-start: #327ae7;
    --gradient-blue-end: #6bd0ff;
    --gradient-free-start: #23bd38;
    --gradient-free-end: #41eba9;
    --gradient-monthly-start: #e77842;
    --gradient-monthly-end: #f7c068;
    --gradient-yearly-start: #b53cff;
    --gradient-yearly-end: #f952ff;
    --color-font: #161b3d;
    --color-font-button: #161b3d;
    --color-alert-red: #f74856;
    --color-alert-orange: #ff970d;
    --color-body: #fff;
    --color-featured-label: #fff;
    --color-featured-label-mobile: #161b3d;
    --color-search-icon: #161b3d;
    --color-underline-link: #dde0e0;
    --color-table-border: #dde0e0;
    --color-figcaption: #5b6572;
    --color-hover-dot: #d3d5dc;
    --color-bg-textarea: #f2f3f7;
    --color-bg-code: #f1f4f4;
    --color-bg-tag: #f4f4f4;
    --color-bg-featured-label: #161b3d;
    --color-bg-featured-label-mobile: #f4f4f4;
    --color-bg-elements: #f7f7f7;
    --color-bg-button-membership: #e2e5ed;
    --color-bg-notification-success: #23bd38;
    --color-bg-notification-false: #f74856;
    --color-elements-one: #f0f0f0;
    --color-elements-two: #e2e5ed;
    --color-elements-white: #fff;
    --gradient-gray-start: #e2e5ed;
    --gradient-gray-end: #f1f4f4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #222327;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: white;
}

.color-primary {
    color: #2F2FA2;
}

.container {
    width: min(90vw, 1200px);
    margin: auto;
}
.indicators{
    display: flex;
    justify-content: center;
    align-items: center;
}
.itens-indicators{
    margin: -40px 5px 0px;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    transition: all .30s;
    border: 2px solid #fff;

}
.itens-indicators:hover{
    background-color: #fff;
    transform: translateY(-4px);
    cursor: pointer;
}
.img-logo{
    max-height:60px;
    margin-top: 20px;
}
.banner-img{
    height: 500px;
    width: 100%;
    border-radius: 26px;
    display: grid;
    grid-template-columns:  1fr;
    grid-gap: 30px;
    align-items: stretch;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 30px;
}
.navbar{
    height: 100px;
}
.navbar-logo{
    width: 50%;
    float: left; 
    height: 100%;

}
.navbar>ul{

    width: 50%;
    height: 100%;
    display: flex;
    float: right;
}
.navbar>ul>li{
    margin-left: auto;
    align-self: center;
    list-style: none;
    transition: all .15s; 
    
}
.navbar>ul>li:hover{
    border-bottom: 4px solid #fff;
    transform: translateY(-4px);
}

#artigos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 30px;
    align-items: stretch;
    padding: 50px 0;
}

article {
    border-radius: 26px;
    height: 100%;
    transition: all .15s;
}

.conteudo {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 26px;
    height: 100%;
    padding: 38px 45px 38px;
    display: flex;
    flex-direction: column;
}

.img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

article:hover {
    transform: translateY(-4px);
}

.titulo {
    font-size: 33px;
    font-weight: 700;
    flex: 1;
}

.autor {
    padding-top: 20px;
    font-size: 14px;
}

.autor>a {
    text-decoration: none;
    color: var(--color-elements-white);
    font-weight: 700;
}

.tags>span {
    margin-left: -10px;
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 16px;
    display: inline;
    transition: all .15s ease;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.tags>span:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.img2 {
    background: url('https://images.unsplash.com/photo-1515106426117-7483c8b91e9b?ixlib=rb-0.3.5&q=75&fm=jpg&crop=entropy&cs=tinysrgb&w=830&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ&s=e7f2a64b9c3918b1714161e88bb1d00c');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.img3 {
    background: linear-gradient(20deg, var(--gradient-violet-start), var(--gradient-violet-end));
}
@media (min-width: 986px) {
    
    .blog-description {
        font-size: 13px;
        font-weight: var(--font-weight-primary-bold);
        position: fixed;
        z-index: 999;
        top: 0;
        bottom: 0;
        left: 0;
        max-width: 90vh;
        height: 86px;
        margin: auto;
        transform: rotate( -90deg) translate(-50%, 50%);
        transform-origin: 0 50%;
        text-align: center;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: var(--color-font);
        align-items: center;
        justify-content: center;
        color: white;
        margin-left: 15px;
    }
    
    

}
@media (max-width: 986px){
    .navbar>ul,.blog-description{
        display: none;
    }
}



.img4 {
    background: linear-gradient( 0deg, var(--gradient-yellow-start), var(--gradient-yellow-end));
}

@media (min-width: 1300px) {
    .article-col-2 {
        grid-column: 1/ span 2;
    }
}